Repository PDG-2023/Project, pull requests merged in 2023-06, with the labels that each got.

#76 Increase bundle budget
  apps/frontend/angular.json
Labels: help wanted, (╯°□°)╯︵ ┻━┻

#79 Can compare with null (Integer fields only)
  apps/backend/src/main/java/ch/heig/pdg/backend/repositories/criteria/CriteriaRepositoryImpl.java
Labels: Backend

#81 Can add multiple conditions
  apps/backend/src/main/java/ch/heig/pdg/backend/repositories/criteria/CriteriaRepositoryImpl.java
Labels: Backend

#86 Can filter with enum values
  apps/backend/src/main/java/ch/heig/pdg/backend/repositories/criteria/CriteriaRepositoryImpl.java
Labels: Backend

#87 Add the `distinct` keyword for entity filter
  apps/backend/src/main/java/ch/heig/pdg/backend/repositories/criteria/CriteriaRepositoryImpl.java
Labels: Backend

#91 [BUGFIX] Adapt infra ip and fix inventory service
  apps/backend/src/main/java/ch/heig/pdg/backend/services/InventoryService.java
  infra/an/inventory.yaml
Labels: 49.3

#93 Add documentation for the project
  README.md
  apps/backend/README.md
  apps/backend/docs/checkstyle-config.png
  apps/backend/docs/checkstyle.png
  apps/backend/docs/spring-config.png
Labels: 49.3, (╯°□°)╯︵ ┻━┻

#97 Backend fixes !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  apps/backend/src/main/java/ch/heig/pdg/backend/repositories/criteria/CriteriaRepositoryImpl.java
  apps/backend/src/main/java/ch/heig/pdg/backend/services/ItemModelService.java
Labels: (╯°□°)╯︵ ┻━┻
